.container {
  background-color: white;
  border-radius: 6px 0 0 6px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 24px -14px rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 16px;
  margin: 0;
}

.separator {
  height: 20px;
  width: 2px;
  border-right: 1px solid lightgray;
}

.button {
  cursor: pointer;

  &:hover {
    font-weight: 500;
    user-select: none;
  }
}
